.tas
    .tas__image
        max-width: 100%
        height: auto
    .tas__content
        .tas__description
            color: #666
            font-size: 14px
            line-height: 24px


.items
    margin: 4rem 0
    .items__item
        border: 1px solid #e7e7e7
        padding: 1.5rem
        position: relative
        &:hover
            &::before
                transition-delay: 0s
                width: 100%
            &::after
                transition-delay: 0s
                width: 100%
            .items__content
                &::before
                    transition-delay: 0.2s
                    height: 100%
                &::after
                    transition-delay: 0.2s
                    height: 100%    
                          
        &::before
            right: 0
            top: 0
            content: ""
            width: 0
            height: 2px
            position: absolute
            transition: all 0.2s linear
            background: #dd3333
            transition-delay: 0.2s
        &::after
            left: 0
            bottom: 0
            content: ""
            width: 0
            height: 2px
            position: absolute
            transition: all 0.2s linear
            background: #dd3333
            transition-delay: 0.2s
        .items__content
            &::before
                left: 0
                top: 0
                content: ""
                width: 2px
                height: 0
                position: absolute
                transition: all 0.2s linear
                background: #dd3333
                transition-delay: 0s
            &::after
                right: 0
                bottom: 0
                transition-delay: 0s
                content: ""
                width: 2px
                height: 0
                position: absolute
                transition: all 0.2s linear
                background: #dd3333
            .items__description
                color:#666
                font-size: 14px
                line-height: 24px


                   

                    
        
                

            
        .items__content
           
            h4
                text-transform: capitalize
                position: relative
                z-index: 1
                line-height: 100px
                font-weight: 700
                span
                    position: absolute
                    left: 0
                    top: 0
                    font-size: 90px
                    z-index: -1
                    color: #eef1f6
                    opacity: 0.5
                    font-weight: 900
            .items__description
                color:#666
                    font-size: 14px              

   

.testimonials
    padding: 3rem 0
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: relative
    width: 100%
    height: 100%
  



